/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root {
    --container-color: #1a1e21;
    --trasnperent-color: rgba(30, 30, 30, 0.5);
    --secound-color: #fd4444;
    --text-color: #172317;
    --secound-text-color: #fff;
    --bg-color: #f9f9f9;
    --icon-color: #333;
    --back-shadow: hsl(0 4% 14% / 10%);
    --box-shadow: rgba(0, 0, 0, 0.2);
    --secound-hover: hsl(0, 98%, 58%);
    --transperent-bd: rgba(255, 255, 255, 0.2);
    --post-box: hsl(355deg 25% 15% / 10%);
}

::selection {
    color: var(--secound-text-color);
    background: var(--secound-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 0 1px 4px var(--back-shadow);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

header.shadow .logo {
    color: var(--text-color);

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secound-text-color);
}

.logo span {
    color: var(--secound-color);
}

/* Login & Register */

.btnLogin-popup {
    position: relative;
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--secound-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.btnLogin-popup::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: var(--bg-color);
    opacity: 0.85;
}

.btnLogin-popup:hover {
    background-color: var(--secound-hover);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: var(--trasnperent-color);
    backdrop-filter: blur(25px);
    box-shadow: -1px 0 10px var(--box-shadow);
    border-left: 2px solid var(--transperent-bd);
    z-index: 300;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    opacity: 0;
    pointer-events: none;
}

.wrapper.active-popup {
    opacity: 1;
    pointer-events: auto;
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--secound-text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
}

.icon-close i {
    font-size: 32px;
    color: var(--secound-color);
    cursor: pointer;
}

.wrapper .logreg-box {
    width: 100%;
}

.wrapper .form-box.login {
    display: block;
}

.wrapper.active .form-box.login {
    display: none;
}

.wrapper .form-box.register {
    display: none;
}

.wrapper.active .form-box.register {
    display: block;
}

.logreg-box .logreg-title {
    text-align: center;
    margin-bottom: 40px;
    color: var(--secound-text-color);
}

.logreg-title h3 {
    font-size: 32px;
}

.logreg-title p {
    font-size: 14px;
    font-weight: 500;
    color: var(--secound-color);
}

.logreg-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid var(--secound-text-color);
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--secound-text-color);
    font-weight: 500;
    padding-right: 25px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--secound-text-color);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 19px;
    color: var(--secound-color);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.logreg-box .remember-forget {
    font-size: 14.5px;
    color: var(--secound-text-color);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    color: var(--secound-text-color);
    margin-right: 3px;
}

.remember-forget a {
    color: var(--secound-color);
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.logreg-box .log-btn {
    width: 100%;
    height: 45px;
    background: var(--secound-text-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 5px var(--box-shadow);
    cursor: pointer;
    font-size: 16px;
    color: var(--secound-color);
    font-weight: 600;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.logreg-box .logreg-link {
    font-size: 14.5px;
    color: var(--secound-text-color);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;

}

.logreg-link p a {
    color: var(--secound-color);
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover {
    text-decoration: underline;
}

.media-options {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.media-options a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid var(--secound-text-color);
    margin: 10px 0;
    box-shadow: 0 2px 5px var(--box-shadow);
    border-radius: 40px;
    color: var(--secound-text-color);
    text-decoration: none;
    transition: 0.5s;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.media-options a:hover {
    background: var(--transperent-bd);
}

.media-options a i {
    font-size: 22px;
    color: var(--secound-color);
    margin: 0 8px 1.5px 0;
}

.media-options a span {
    font-size: 16px;
    font-weight: 500;
}

/* Home */
.home {
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text {
    color: var(--secound-text-color);
    text-align: center;
}

.home-title {
    font-size: 3.5rem;

}

.home-subtitle {
    font-size: 1rem;
    font-weight: 400;
}

/* post-filter */

.post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}

.filter-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.filter-item:hover {
    color: var(--secound-color);
}

.active-filter {
    background-color: var(--secound-color);
    color: var(--secound-text-color);
    padding: 4px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* posts */

.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-box {
    background-color: var(--bg-color);
    box-shadow: 0 4px 14px var(--post-box);
    padding: 15px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category {
    color: var(--secound-color);
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    /* to remain title in 2 lines */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date {
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}

.post-decription {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    /* to remain title in 3 lines */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--secound-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-name {
    font-size: 0.82rem;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer p {
    font-size: 0.938rem;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.social .bx {
    font-size: 1.4rem;
    color: var(--text-color);
}

.social .bx:hover {
    color: var(--secound-color);
    transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;
    -moz-transition: 0.3s all linear;
    -ms-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
}


/* editor content */

.editor-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem !important;
}

.editor-header {
    width: 100%;
    background: var(--container-color);
}

.editor-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem !important;
}

.editor-name {
    width: 90%;
    font-size: 2.6rem;
    color: var(--secound-text-color);
    text-align: center;
    margin-bottom: 1rem;
}

.editor-banner {
    width: 75%;
    height: 400px;
    border-radius: 10%;
    border: 1px solid var(--secound-hover);
    box-shadow: rgba(100, 100, 100, 0.5) 0px 3px 8px;
    object-fit: cover;
    transition: transform 0.25s ease;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}


.editor-banner:hover {
    width: 75%;
    height: 75%;
    border-radius: 25px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.editor-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: -15%;
    border-radius: 50%;
    border: 2px solid var(--secound-hover);
    box-shadow: rgba(100, 100, 100, 0.5) 0px 3px 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.editor-img:hover {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.editor-stats {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.editor-stats h2 {
    font-size: 1.4rem;
    color: var(--secound-text-color);
}

.editor-stats h2 span {
    font-size: 1.6rem;
    color: var(--secound-text-color);
}

.editor-stats h2 button {
    background: var(--secound-color);
    color: var(--secound-text-color);
    font-size: 1.4rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
}

/* 
    "tools-content"
    "create-heading"
    "modify-heading"
    "checkup-heading"
    "delte-heading"
*/

.tools-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem !important;
}

.tools-content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}


/* Post Content */

.post-header {
    width: 100%;
    height: 500px;
    background: var(--container-color);
}

.post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem !important;
}

.header-title {
    width: 90%;
    font-size: 2.6rem;
    color: var(--secound-text-color);
    text-align: center;
    margin-bottom: 1rem;
}

.header-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}

.post-content {
    margin-top: 10rem !important;
}

.sub-heading {
    font-size: 1.2rem;
}

.post-text {
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

/* Share */

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.share-title {
    font-size: 1.1rem;
}

/* back to */

.back-to {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.back-home {
    color: var(--secound-color);
    font-size: 0.9rem;

}

/* Responsive */
@media(max-width:1060px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }

    .home-text {
        width: 100%;

    }
}

@media(max-width: 800px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0;
    }

    .post-container {
        margin: 0 auto;
        width: 95%;
    }
}

@media(max-width: 768px) {
    .nav {
        padding: 10px 0;
    }

    .section {
        padding: 2rem 0;
    }

    .header-content {
        margin-top: 3rem !important;
    }

    .home {
        min-height: 380px;
    }

    .home-title {
        font-size: 3rem;
    }

    .header-title {
        font-size: 2rem;
    }

    .header-img {
        height: 370px;
    }

    .post-header {
        height: 435px;
    }

    .post-content {
        margin-bottom: 9rem !important;
    }
}

@media(max-width:570px) {
    .post-header {
        height: 390px;
    }

    .header-title {
        width: 100%;
    }

    .header-img {
        height: 340px;
    }

    .footer {
        flex-direction: column;
        row-gap: 1rem;
        padding: 20px 0;
        text-align: center;
        padding: 30px 0;
    }
}

@media(max-width:396px) {
    .home-title {
        font-size: 2rem;
    }

    .home-subtitle {
        font-size: 0.9rem;
    }

    .home {
        min-height: 300px;
    }

    .post-box {
        padding: 10px;
    }

    .header-title {
        font-size: 1.4rem;
    }

    .header-img {
        height: 240px;
    }

    .post-img {
        height: 335px;
    }

    .post-content {
        margin-top: 5rem !important;
    }

    .post-text {
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin: 10px 0;
    }
}